* {
  box-sizing: border-box;
}

p, h1 {
  color: navy;
}

a {
  text-decoration: none;
}

nav {
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 15vh;
  box-shadow: inset 0 -0.5em 0.5em rgba(0,0,0,0.2);
}

nav button {
  border: none;
}

.nav-input {
  background-color: transparent;
  border: 1px solid palegoldenrod;
  color: palegoldenrod;
  font-size: 1.5rem;
  font-weight: 100;
  padding-left: 5px;
  margin-right: 5px;
  height: 40px;
  width: 55%;  
}

.nav-input::placeholder {
  color: palegoldenrod;
  font-size: 1.2rem;
  font-weight: 200;
}

.nav-icon {
  background-color: transparent;
  border: 0px solid transparent;
  height: 50px;
  width: 50px;
  color: palegoldenrod;
  padding: 10px 10px;
  font-size: 2rem;
}

main {
  background-color: white;
  display: flex;
  width: 100vw;
  height: 85vh;
}

.main-container {  
  width: 100%;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
}

.today-weather-container {
  width: 100vw;  
  border-bottom: 1px solid lightgray;
  padding: 0 20px;
  line-height: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  text-align: center;
}

.today-weather--basic-info h1 {
  width: 100%;
  font-size: 2rem;
  line-height: 1.6rem;
  font-weight: 900;    
}

.today-weather-country {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1rem;
}

.today-weather-date {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1rem;
}

.today-weather--temp-press {
  width: 100%;
  margin-top: 40px;  
}

.today-weather--temp-press .avg-temp {
  font-size: 5rem;
  line-height: 3rem;
  margin: 10px 0;
  font-weight: 100;  
}

.today-weather--temp-press .min-max-temp {
  font-size: 1rem;
  line-height: 0.8;
  margin: 30px 0;
  font-weight: 100;  
}

.today-weather--temp-press .min-max-temp .highlighted-value {
  font-weight: 700;
}

.today-weather--icon {
  width: 100%;
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-content: flex-start;
}

.today-weather--icon img {
  width: 40%;
}

.next-days-weather-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
}

.next-day-weather-item {
  width: 100vw;
  border-bottom: 1px solid lightgrey;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.next-day-weather-item-basic {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.next-day-weather-item .main-info {
  font-size: 2rem;
  margin-top: 0;
  line-height: 1rem;
  font-weight: 300;
}

.next-day-weather-item > p {
  width: 33%;
}

.warning-value {
  line-height: 1.7;
  padding-left: 0.5rem;
  background-color: goldenrod;
  color: white;
  margin: 20px 0;
}

.safe-value {
  line-height: 1.7;
  padding-left: 0.5rem;
  background-color: gray;
  color: white;
  margin: 20px 0;
}

.next-day-weather-item img {
  width: 30%;
  height: 100px;
  padding: 20px 0;
}

footer {
  background-color: white;
  z-index: 10;
  position: fixed;
  bottom: 0px;  
  width: 100vw;
  height: 40px;
  text-align: center;  
}

@media screen and ( min-width: 960px ) {
  .nav-input {
    font-size: 2rem;
    font-weight: 200;
    padding-left: 10px;
    margin-right: 10px;
    height: 50px;
    width: 60%;  
  }

  .nav-input::placeholder {    
    font-size: 1.5rem;
    font-weight: 100;
  }

  .main-container {
    flex-direction: row;
  }

  .today-weather-container {
    width: 25;   
    justify-content: flex-start;
    border-right: 1px solid lightgray; 
    border-bottom: none;  
  }

  .next-days-weather-container {
    width: 75vw;    
  }  

  .next-day-weather-item > p {
    width: 100%;
  }

  .next-days-weather-container {
    flex-direction: row;
  }

  .next-day-weather-item {
    width: 20vw;    
    border-right: 1px solid lightgrey;
    border-bottom: none;
    padding: 0 20px 50px 20px;
    flex-direction: column;
  }

  .next-day-weather-item .main-info {
    font-size: 2.5rem;
    margin-top: 35px;
    line-height: 1rem;
    font-weight: 300;
  }

  .next-day-weather-item-basic {
    width: 100%;
  }

  .next-day-weather-item img {
    width: 60%;
    margin-top: 20px;
    height: 120px;
  }

  footer {
    right: 20px;
    text-align: right;
  }
}